<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}API Change[B]log{% endif %}</title>
        <meta name="google-site-verification" content="5Nv853-2nzssyNYIXn24Kts1JUH1e_odcy4D3L7B9xg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://www.apichangelog.com/static/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="https://www.apichangelog.com/static/css/responsive.css" rel="stylesheet" media="screen">
        <link href="https://www.apichangelog.com/static/css/styles.css" rel="stylesheet" media="screen">
        <link href="https://www.apichangelog.com/static/css/font-awesome.min.css" rel="stylesheet" media="screen">
        <link rel="shortcut icon" href="https://www.apichangelog.com/static/img/rs-eye-2x.png">
    </head>
    <body>
        <div class="header-wrap">
            <header class="row-fluid">
                <div class="span12">
                   <h1 class="logo"><a href="http://blog.apichangelog.com/"><img src="https://www.apichangelog.com/static/img/rs-eye.png" alt="API Changelog" width="44" height="44">API <span class="logo-accent">Change</span>[B]</span><span class="logo-accent">log</span></a></h1>
                    <nav>
                        <ul class="nav-menu">
                            <li class="nav-link"><a href="https://www.apichangelog.com/about">About</a></li>
                            <li class="nav-link"><a href="https://www.apichangelog.com/browse">Browse APIs</a></li>
                            <li class="nav-link"><a href="https://www.apichangelog.com/request">Request an API</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
	<h1 class="logo"><span class="logo-accent">News from API providers and about our community, brought to you by the</span> <a href="https://www.apichangelog.com/">API Changelog</a> <span class="logo-accent">team.</span></h1>
        </div>
        <div id="content" class="row-fluid">
            <div class="span12 content-wrap">
    <div class="row-fluid">
